@charset "UTF-8";
/* foundation */
html {
  height: 100%;
  scroll-behavior: smooth;
}

html.admin {
  margin-top: 0 !important;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body.is-open {
  position: fixed;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* Loading背景画面設定 */
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  color: #fff;
}

/* background-color */
/* layout */
.l-footer {
  width: 100vw;
  height: 100px;
  margin-top: 20%;
  position: absolute;
  background: linear-gradient(45deg, hsla(200, 100%, 50%, 0.5), hsla(190, 100%, 50%, 0.5)), url(../images/top/sky.webp);
  background-size: cover;
  background-position: left;
  animation: cloud 45s linear infinite;
}

.l-footer__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.l-header {
  animation: cloud 45s linear infinite;
  background: linear-gradient(45deg, hsla(200, 100%, 50%, 0.5), hsla(190, 100%, 50%, 0.5)), url(../images/top/sky.webp);
  background-size: cover;
  background-position: left;
  height: 70px;
  margin-bottom: 5%;
  will-change: background-position;
}

@keyframes cloud {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
.l-header__inner {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
@media (min-width: 521px) {
  .l-header__inner {
    padding: 0 30px;
  }
}

.l-sidebar {
  width: 0;
  height: 100%;
  background-color: beige;
  position: absolute;
  top: 0;
  left: 100%;
  visibility: hidden; /* 初期状態で非表示 */
}

.l-sidebar.is-open {
  width: 100%;
  display: block;
  visibility: visible; /* メニューが開かれた時に表示 */
  left: 20%;
  list-style: none;
  z-index: 999;
  transition: left 0.5s;
}

/* object */
.c-background__overlay::after {
  content: "";
  display: block;
}

.c-background__overlay {
  position: absolute; /* ブラウザの定位置に固定 */
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%; /* 要素の横幅を画面全体に */
  height: 100%; /* 要素の高さを画面全体に */
  top: 0; /* 要素の固定位置をブラウザ最上部に合わせる */
  left: 0; /* 要素の固定位置をブラウザ左側に合わせる */
  z-index: 1000; /* 要素をコンテンツより前面に（要調整） */
}

.c-icon__sns {
  list-style: none;
  width: 40px;
  display: block;
  transition: filter 0.5s 0s ease;
  aspect-ratio: 1/1;
}
.c-icon__sns:hover {
  background: #fff;
  border-radius: 50%;
  filter: invert(100%);
}

.c-icon__contact {
  list-style: none;
  width: 60px;
  display: inline-block;
  aspect-ratio: 1/1;
}

.c-image__mask {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.c-text__copyright {
  font-family: serif;
}

.c-text__undertext::before {
  display: inline-block;
  position: absolute;
  font-size: 14px;
  font-weight: lighter;
  font-family: serif;
}

.c-text__underline::after {
  content: "";
  display: inline-block;
  background-color: #000;
  position: absolute;
}

.c-text__skill {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.3;
  text-align: justify;
  margin-top: 10%;
}
@media (min-width: 521px) {
  .c-text__skill {
    font-size: 24px;
  }
}

.c-text__contact {
  font-size: 15px;
  font-family: serif;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .c-text__contact {
    font-size: 18px;
  }
}
@media (min-width: 961px) {
  .c-text__contact {
    font-size: 24px;
  }
}

.c-title {
  font-weight: 700;
  font-size: 10px;
}
@media (min-width: 375px) {
  .c-title {
    font-size: 16px;
  }
}
@media (min-width: 521px) {
  .c-title {
    font-size: 24px;
  }
}

.c-title__headline {
  position: relative;
  font-weight: 700;
  font-family: serif;
  font-size: 30px;
}
@media (min-width: 961px) {
  .c-title__headline {
    font-size: 60px;
  }
}

.c-title__sns {
  font-size: 16px;
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 600px) {
  .c-title__sns {
    text-align: left;
  }
}
@media (min-width: 961px) {
  .c-title__sns {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .c-title__sns {
    font-size: 30px;
  }
}

.c-title__contact {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  font-weight: 700;
}

.c-title__privacy-policy,
.c-title__archive {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
}
@media (min-width: 521px) {
  .c-title__privacy-policy,
  .c-title__archive {
    font-size: 30px;
  }
}
.c-title__privacy-policy > span,
.c-title__archive > span {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

/* その場で */
.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 下から */
.fade {
  opacity: 0;
  transition: all 1s;
  transform: translateY(100px);
}

.fade.view {
  opacity: 1;
  transform: translateY(0);
}

.p-card__works__image {
  display: inline-block;
  height: 200px;
  transition: transform 0.6s ease;
}
.p-card__works__image:hover {
  transform: scale(1.1);
}

.no-image {
  width: 300px;
  height: 200px;
}

.p-contact-form__outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.p-contact-form {
  margin: 10% 3% 0;
}
.p-contact-form dt {
  margin-top: 5%;
}
.p-contact-form .mandatory-tag {
  color: #1bc81b;
}
.p-contact-form input[type=text] {
  width: 100%;
  height: 40px;
  max-width: 420px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
  font-weight: normal;
}
.p-contact-form dd input,
.p-contact-form dd textarea {
  width: 100%;
  height: 40px;
  max-width: 420px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
}
.p-contact-form dd textarea {
  height: 200px;
  padding-top: 10px;
}
.p-contact-form label {
  font-size: 20px;
  font-family: serif;
}
.p-contact-form .button {
  margin-top: 5%;
  padding: 10px 15px;
  background-color: #7fff7f;
  border-radius: 5px;
}

.p-contact {
  width: 100%;
  height: auto;
}
.p-contact .c-text__undertext::before {
  content: "お問い合わせ";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 40px);
}
.p-contact .c-text__underline::after {
  width: 60px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 30px);
}
@media (min-width: 521px) {
  .p-contact .c-text__underline::after {
    width: 120px;
    left: calc(50% - 60px);
  }
}

.p-contact__title {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
@media (min-width: 521px) {
  .p-contact__title {
    margin-bottom: 5rem;
  }
}

.p-contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-contact__link {
  margin-top: 10%;
}
@media (min-width: 521px) {
  .p-contact__link {
    margin-top: 8%;
  }
}

.c-icon__contact {
  transform: scale(1);
  transition: transform 0.3s, rotate 0.3s;
}

.c-icon__contact:hover {
  transform: scale(1.3) rotate(360deg);
}

.p-content {
  width: 100%;
  height: auto;
  padding: 0 3%;
}

.p-hamburger {
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 0;
}
@media (min-width: 961px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger:hover {
  cursor: pointer;
}
.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: calc(50% - 30px/2);
  display: block;
  transition: transform 0.2s;
}
.p-hamburger::before {
  top: 15px;
}
.p-hamburger::after {
  bottom: 15px;
}
.p-hamburger > span {
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: calc(50% - 30px/2);
  top: 48%;
  transition: transform 0.2s;
}
.p-hamburger.is-open {
  position: relative;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 1000;
}
.p-hamburger.is-open::before {
  background: #000;
  transform: rotate(45deg);
  top: 24px;
}
.p-hamburger.is-open::after {
  background: #000;
  transform: rotate(-45deg);
  top: 24px;
}
.p-hamburger.is-open > span {
  background: none;
}

.p-introduction__wrapper {
  width: 100%;
  min-height: 100%;
}

.p-introduction__visual {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-introduction__main {
  width: 100%;
  text-align: center;
}

.p-introduction__image {
  width: 80vw;
  height: auto;
}

.p-introduction__title {
  width: auto;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 5%;
  font-family: serif;
  font-size: 13px;
  word-wrap: break-word;
  position: relative;
}
@media (min-width: 521px) {
  .p-introduction__title {
    width: auto;
    font-size: 20px;
  }
}
@media (min-width: 961px) {
  .p-introduction__title {
    width: auto;
    font-size: 36px;
  }
}

.p-introduction__detail {
  width: 100%;
  margin-top: 20%;
}
@media (min-width: 521px) {
  .p-introduction__detail {
    margin-top: 10%;
  }
}

.p-introduction__sub {
  font-family: serif;
  margin: 0 10%;
}
.p-introduction__sub__link {
  display: inline-block;
  border-bottom: 1px solid;
}
.p-introduction__sub h2 {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 521px) {
  .p-introduction__sub h2 {
    font-size: 26px;
  }
}

.p-navigation__menu {
  display: none;
}
@media (min-width: 961px) {
  .p-navigation__menu {
    display: flex;
  }
}

.p-navigation__menu__item {
  font-size: 11px;
  margin: 0 5px;
}
@media (min-width: 521px) {
  .p-navigation__menu__item {
    font-size: 16px;
    margin: 0 15px;
  }
}
.p-navigation__menu__item:hover {
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center/200% auto;
  animation: about 1s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes about {
  100% {
    background-position-x: 200%;
  }
}
.p-navigation__sidebar {
  font-size: 0;
}
.p-navigation__sidebar.is-open {
  font-size: 20px;
  margin-top: 20%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 521px) {
  .p-navigation__sidebar.is-open {
    font-size: 24px;
  }
}

.p-navigation__menu__item--sidebar.is-open {
  border-bottom: 1px solid;
  padding-bottom: 1%;
  width: 300px;
}
@media (min-width: 521px) {
  .p-navigation__menu__item--sidebar.is-open {
    width: 400px;
  }
}
.p-navigation__menu__item--sidebar > a:hover {
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center/200% auto;
  animation: about 1s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-navigation__footer {
  margin-bottom: 10px;
}

.p-news {
  width: 100%;
  height: auto;
  margin: 10% 0 20% 0;
}
.p-news .c-text__undertext::before {
  content: "お知らせ";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 30px);
}
.p-news .c-text__underline::after {
  width: 60px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 30px);
}
@media (min-width: 521px) {
  .p-news .c-text__underline::after {
    width: 80px;
    left: calc(50% - 40px);
  }
}

.p-news__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.p-news__inner {
  margin-top: 3%;
}

.p-news__content {
  width: auto;
}

.p-news__list {
  border-bottom: 1px solid;
  margin-bottom: 15px;
}
.p-news__list time {
  display: block;
  margin: 20px 0;
  font-size: 16px;
}
@media (min-width: 521px) {
  .p-news__list time {
    font-size: 20px;
  }
}
@media (min-width: 961px) {
  .p-news__list time {
    font-size: 26px;
  }
}
.p-news__list p {
  font-size: 16px;
  font-family: serif;
  margin-bottom: 15px;
}
@media (min-width: 521px) {
  .p-news__list p {
    font-size: 20px;
  }
}
@media (min-width: 961px) {
  .p-news__list p {
    font-size: 26px;
  }
}

.p-news__link {
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
}
.p-news__link > a {
  display: inline-block;
  border-bottom: 1px solid;
}

.p-news__archive__inner {
  margin: 3rem;
}
@media (min-width: 521px) {
  .p-news__archive__inner {
    margin: 3rem 5rem;
  }
}
.p-news__archive__inner > h2 {
  margin-bottom: 5rem;
}

.p-news__archive__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.p-news__archive__item {
  font-size: 16px;
  border-bottom: 1px solid;
}
@media (min-width: 521px) {
  .p-news__archive__item {
    font-size: 20px;
  }
}
@media (min-width: 961px) {
  .p-news__archive__item {
    font-size: 26px;
  }
}
.p-news__archive__item > time {
  display: inline-block;
  margin-bottom: 35px;
}
.p-news__archive__item > p {
  font-family: serif;
  margin-bottom: 10px;
}

.p-page__top {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
  /*このクラスが付与されると表示する*/
}
.p-page__top.active {
  opacity: 1;
  visibility: visible;
}
.p-page__top:hover {
  border-color: #1bc81b;
}
.p-page__top:hover .fa-arrow-up::before {
  color: #1bc81b;
}

.arrow-up {
  position: relative;
  font-size: 1em;
}

.fa-arrow-up::before {
  content: "\f062";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  color: #000;
}

.p-page__error {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 10% 0 20%;
}

.p-page__error__h2 {
  color: red;
}

.p-page__error__inner {
  line-height: 2;
}

.p-page__error__top {
  margin-top: 5%;
  font-size: 20px;
}

.p-privacy-policy {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  overflow-x: hidden;
}

.p-profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .p-profile {
    justify-content: space-evenly;
    flex-direction: inherit;
    align-items: center;
  }
}

.p-profile__outer {
  width: 50%;
}

.p-profile__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-profile__inner .c-text__underline::after {
  width: 110px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 55px);
}
.p-profile__inner .c-text__undertext::before {
  content: "プロフィール";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 40px);
}
.p-profile__inner .personal {
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}
@media (min-width: 375px) {
  .p-profile__inner .personal {
    text-align: left;
  }
}
.p-profile__inner .personal .name {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}
@media (min-width: 521px) {
  .p-profile__inner .personal .name {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .p-profile__inner .personal .name {
    font-size: 30px;
  }
}
.p-profile__inner .personal .name::before {
  content: "いしつか よしかず";
  position: absolute;
  font-size: 10px;
  top: -12px;
  left: 0;
}
@media (min-width: 521px) {
  .p-profile__inner .personal .name::before {
    left: 1px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .p-profile__inner .personal .name::before {
    font-size: 14px;
    letter-spacing: 0.1em;
    top: -17px;
    left: 3px;
  }
}
.p-profile__inner .personal span {
  font-family: serif;
  font-size: 10px;
  font-weight: 100;
  display: inline-block;
  margin-top: 1rem;
}
@media (min-width: 521px) {
  .p-profile__inner .personal span {
    font-size: 14px;
    margin-top: 4rem;
  }
}
@media (min-width: 961px) {
  .p-profile__inner .personal span {
    font-size: 18px;
  }
}
.p-profile__inner .introduction {
  font-family: serif;
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin-top: 1rem;
  text-align: center;
  width: max-content;
}
@media (min-width: 521px) {
  .p-profile__inner .introduction {
    font-size: 12px;
    margin: 2rem 1.5rem 0 0;
  }
}
@media (min-width: 961px) {
  .p-profile__inner .introduction {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .p-profile__inner .introduction {
    font-size: 24px;
  }
}

.p-profile__sns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
@media (min-width: 600px) {
  .p-profile__sns {
    gap: 20px;
    justify-content: left;
  }
}
@media (min-width: 961px) {
  .p-profile__sns {
    gap: 30px;
  }
}

.p-profile__img {
  height: auto;
  width: auto;
  margin-top: 5rem;
}
@media (min-width: 600px) {
  .p-profile__img {
    width: 50%;
    height: 100%;
    margin-top: 3rem;
  }
}
.p-profile__img img {
  width: 100%;
  aspect-ratio: 4/3;
}
@media (min-width: 600px) {
  .p-profile__img img {
    height: inherit;
  }
}

.p-skill {
  margin-top: 30%;
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .p-skill {
    margin-top: 20%;
  }
}
.p-skill .c-text__undertext::before {
  content: "スキル";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 25px);
}
.p-skill .c-text__underline::after {
  width: 60px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 30px);
}
@media (min-width: 521px) {
  .p-skill .c-text__underline::after {
    width: 80px;
    left: calc(50% - 40px);
  }
}

.p-skill__title {
  display: flex;
  justify-content: center;
}

.p-skill__outer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.p-skill__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  margin-top: 3rem;
}
@media (min-width: 521px) {
  .p-skill__inner {
    padding: 0 100px;
  }
}
.p-skill__inner::after {
  content: "";
  display: block;
  width: 250px;
}

.p-skill__list {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-skill__list .html5 {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .html5 {
    font-size: 6em;
  }
}
.p-skill__list .fa-html5::before {
  content: "\f13b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #FD5722;
}
.p-skill__list .fa-html5::after {
  content: "HTML5";
  position: absolute;
  top: -17px;
  left: -7px;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-html5::after {
    left: 4px;
  }
}
.p-skill__list .css3 {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .css3 {
    font-size: 6em;
  }
}
.p-skill__list .fa-css3-alt::before {
  content: "\f38b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #239AF8;
}
.p-skill__list .fa-css3-alt::after {
  content: "CSS3";
  position: absolute;
  top: -17px;
  left: 0;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-css3-alt::after {
    left: 12px;
  }
}
.p-skill__list .sass {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .sass {
    font-size: 6em;
  }
}
.p-skill__list .fa-sass::before {
  content: "\f41e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #CB6699;
}
.p-skill__list .fa-sass::after {
  content: "Sass";
  position: absolute;
  top: -31px;
  left: 11px;
  font-size: 24px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-sass::after {
    left: 29px;
  }
}
.p-skill__list .js {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .js {
    font-size: 6em;
  }
}
.p-skill__list .fa-square-js::before {
  content: "\f3b9";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #F5DE1B;
}
.p-skill__list .fa-square-js::after {
  content: "JavaScript jQuery";
  position: absolute;
  top: -46px;
  left: -8px;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-square-js::after {
    left: 4px;
  }
}
.p-skill__list .wp {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .wp {
    font-size: 6em;
  }
}
.p-skill__list .fa-wordpress::before {
  content: "\f19a";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #20759A;
}
.p-skill__list .fa-wordpress::after {
  content: "WordPress";
  position: absolute;
  top: -33px;
  left: -25px;
  font-size: 24px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-wordpress::after {
    left: -10px;
  }
}
.p-skill__list .figma {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .figma {
    font-size: 6em;
  }
}
.p-skill__list .fa-figma::before {
  content: "\f799";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #303030;
}
.p-skill__list .fa-figma::after {
  content: "Figma";
  position: absolute;
  top: -33px;
  left: -8px;
  font-size: 24px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-figma::after {
    left: 4px;
  }
}

.p-visual__main__img {
  width: 100vw;
  aspect-ratio: 4/3;
}

.p-visual__main__inner {
  position: relative;
}

.p-visual__main__title {
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 10%;
  font-size: 24px;
  font-weight: bold;
  color: transparent;
  background: -webkit-linear-gradient(180deg, #1e26cb 0%, #fcfafc 30%, #5cff04 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
  background-size: 300%;
  will-change: background-position, color;
}
@media (min-width: 521px) {
  .p-visual__main__title {
    font-size: 30px;
  }
}
@media (min-width: 961px) {
  .p-visual__main__title {
    font-size: 60px;
  }
}

@keyframes gradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.p-works {
  width: 100%;
  height: auto;
}
.p-works .c-text__undertext::before {
  content: "制作実績";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 30px);
}
.p-works .c-text__underline::after {
  width: 60px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 30px);
}
@media (min-width: 521px) {
  .p-works .c-text__underline::after {
    width: 80px;
    left: calc(50% - 40px);
  }
}

.p-works__title {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.p-works__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.p-works__inner__title {
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
  font-family: monospace;
}

.u-background__overlay::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.u-background__overlay.js-height::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 888;
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
