@charset "UTF-8";
/* foundation */
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* layout */
.l-footer {
  width: 100vw;
  height: 100px;
  margin-top: 20%;
  background-color: beige;
}

.l-footer__inner {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100px;
  padding-bottom: 1%;
}

.l-header {
  background-color: beige;
  height: 70px;
}

.l-header__inner {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
@media (min-width: 521px) {
  .l-header__inner {
    padding: 0 30px;
  }
}

/* object */
.c-icon__sns {
  list-style: none;
  width: 40px;
  display: block;
  transition: filter 0.5s 0s ease;
}
.c-icon__sns:hover {
  background: #fff;
  border-radius: 50%;
  filter: invert(100%);
}

.c-image__mask {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.c-text__copyright {
  font-family: serif;
}

.c-text__undertext::before {
  display: inline-block;
  position: absolute;
  font-size: 14px;
  font-weight: lighter;
  font-family: serif;
}

.c-text__underline::after {
  content: "";
  display: inline-block;
  background-color: #000;
  position: absolute;
}

.c-text__skill {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.3;
  text-align: justify;
  margin-top: 10%;
}
@media (min-width: 521px) {
  .c-text__skill {
    font-size: 24px;
  }
}

.c-title {
  font-weight: 700;
  font-size: 10px;
}
@media (min-width: 375px) {
  .c-title {
    font-size: 16px;
  }
}
@media (min-width: 521px) {
  .c-title {
    font-size: 24px;
  }
}

.c-title__headline {
  position: relative;
  font-weight: 700;
  font-family: serif;
  font-size: 30px;
}
@media (min-width: 961px) {
  .c-title__headline {
    font-size: 60px;
  }
}

.c-title__sns {
  font-size: 16px;
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 600px) {
  .c-title__sns {
    text-align: left;
  }
}
@media (min-width: 961px) {
  .c-title__sns {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .c-title__sns {
    font-size: 30px;
  }
}

.p-card__works__image {
  display: inline-block;
  height: 200px;
  transition: transform 0.6s ease;
}
.p-card__works__image:hover {
  transform: scale(1.1);
}

.no-image {
  width: 300px;
  height: 200px;
}

.p-content {
  width: 100%;
  height: auto;
  padding: 0 3%;
}

.p-introduction__wrapper {
  width: 100%;
  min-height: 100%;
}

.p-introduction__visual {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-introduction__main {
  width: 100%;
  text-align: center;
}

.p-introduction__image {
  width: 80vw;
  height: auto;
}

.p-introduction__title {
  width: 300px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 2%;
  font-family: serif;
  font-size: 26px;
  word-wrap: break-word;
}
@media (min-width: 961px) {
  .p-introduction__title {
    width: auto;
    font-size: 36px;
  }
}

.p-introduction__detail {
  width: 100%;
  margin-top: 20%;
}
@media (min-width: 521px) {
  .p-introduction__detail {
    margin-top: 10%;
  }
}

.p-introduction__sub {
  font-family: serif;
  margin: 0 10%;
}
.p-introduction__sub__link {
  display: inline-block;
  border-bottom: 1px solid;
}
.p-introduction__sub h2 {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 521px) {
  .p-introduction__sub h2 {
    font-size: 26px;
  }
}

.p-navigation__menu {
  display: flex;
}

.p-navigation__menu__item {
  font-size: 11px;
  margin: 0 5px;
}
@media (min-width: 521px) {
  .p-navigation__menu__item {
    font-size: 16px;
    margin: 0 15px;
  }
}
.p-navigation__menu__item:hover {
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center/200% auto;
  animation: about 1s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes about {
  100% {
    background-position-x: 200%;
  }
}
.p-news {
  width: 100%;
  height: 200px;
}

.p-profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .p-profile {
    justify-content: space-evenly;
    flex-direction: inherit;
    align-items: center;
  }
}

.p-profile__outer {
  width: 50%;
}

.p-profile__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-profile__inner .c-text__underline::after {
  width: 110px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 55px);
}
.p-profile__inner .c-text__undertext::before {
  content: "プロフィール";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 40px);
}
.p-profile__inner .personal {
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}
@media (min-width: 375px) {
  .p-profile__inner .personal {
    text-align: left;
  }
}
.p-profile__inner .personal .name {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}
@media (min-width: 521px) {
  .p-profile__inner .personal .name {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .p-profile__inner .personal .name {
    font-size: 30px;
  }
}
.p-profile__inner .personal .name::before {
  content: "いしつか よしかず";
  position: absolute;
  font-size: 10px;
  top: -12px;
  left: 0;
}
@media (min-width: 521px) {
  .p-profile__inner .personal .name::before {
    left: 1px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .p-profile__inner .personal .name::before {
    font-size: 14px;
    letter-spacing: 0.1em;
    top: -17px;
    left: 3px;
  }
}
.p-profile__inner .personal span {
  font-family: serif;
  font-size: 10px;
  font-weight: 100;
  display: inline-block;
  margin-top: 1rem;
}
@media (min-width: 521px) {
  .p-profile__inner .personal span {
    font-size: 14px;
    margin-top: 4rem;
  }
}
@media (min-width: 961px) {
  .p-profile__inner .personal span {
    font-size: 18px;
  }
}
.p-profile__inner .introduction {
  font-family: serif;
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin-top: 1rem;
  text-align: center;
  width: max-content;
}
@media (min-width: 521px) {
  .p-profile__inner .introduction {
    font-size: 12px;
    margin: 2rem 1.5rem 0 0;
  }
}
@media (min-width: 961px) {
  .p-profile__inner .introduction {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .p-profile__inner .introduction {
    font-size: 24px;
  }
}

.p-profile__sns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
@media (min-width: 600px) {
  .p-profile__sns {
    gap: 20px;
    justify-content: left;
  }
}
@media (min-width: 961px) {
  .p-profile__sns {
    gap: 30px;
  }
}

.p-profile__img {
  height: auto;
  width: auto;
  margin-top: 5rem;
}
@media (min-width: 600px) {
  .p-profile__img {
    width: 50%;
    height: 100%;
    margin-top: 3rem;
  }
}
.p-profile__img img {
  width: 100%;
}
@media (min-width: 600px) {
  .p-profile__img img {
    height: inherit;
  }
}

.p-skill {
  margin-top: 30%;
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .p-skill {
    margin-top: 20%;
  }
}
.p-skill .c-text__undertext::before {
  content: "スキル";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 25px);
}
.p-skill .c-text__underline::after {
  width: 60px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 30px);
}
@media (min-width: 521px) {
  .p-skill .c-text__underline::after {
    width: 80px;
    left: calc(50% - 40px);
  }
}

.p-skill__title {
  display: flex;
  justify-content: center;
}

.p-skill__outer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.p-skill__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  margin-top: 3rem;
}
@media (min-width: 521px) {
  .p-skill__inner {
    padding: 0 100px;
  }
}
.p-skill__inner::after {
  content: "";
  display: block;
  width: 250px;
}

.p-skill__list {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-skill__list .html5 {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .html5 {
    font-size: 6em;
  }
}
.p-skill__list .fa-html5::before {
  content: "\f13b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #FD5722;
}
.p-skill__list .fa-html5::after {
  content: "HTML5";
  position: absolute;
  top: -17px;
  left: -7px;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-html5::after {
    left: 4px;
  }
}
.p-skill__list .css3 {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .css3 {
    font-size: 6em;
  }
}
.p-skill__list .fa-css3-alt::before {
  content: "\f38b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #239AF8;
}
.p-skill__list .fa-css3-alt::after {
  content: "CSS3";
  position: absolute;
  top: -17px;
  left: 0;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-css3-alt::after {
    left: 12px;
  }
}
.p-skill__list .sass {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .sass {
    font-size: 6em;
  }
}
.p-skill__list .fa-sass::before {
  content: "\f41e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #CB6699;
}
.p-skill__list .fa-sass::after {
  content: "Sass";
  position: absolute;
  top: -31px;
  left: 11px;
  font-size: 24px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-sass::after {
    left: 29px;
  }
}
.p-skill__list .js {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .js {
    font-size: 6em;
  }
}
.p-skill__list .fa-square-js::before {
  content: "\f3b9";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #F5DE1B;
}
.p-skill__list .fa-square-js::after {
  content: "JavaScript jQuery";
  position: absolute;
  top: -46px;
  left: -8px;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-square-js::after {
    left: 4px;
  }
}
.p-skill__list .wp {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .wp {
    font-size: 6em;
  }
}
.p-skill__list .fa-wordpress::before {
  content: "\f19a";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #20759A;
}
.p-skill__list .fa-wordpress::after {
  content: "WordPress";
  position: absolute;
  top: -33px;
  left: -25px;
  font-size: 24px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-wordpress::after {
    left: -10px;
  }
}
.p-skill__list .figma {
  position: relative;
  font-size: 4em;
}
@media (min-width: 521px) {
  .p-skill__list .figma {
    font-size: 6em;
  }
}
.p-skill__list .fa-figma::before {
  content: "\f799";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  color: #303030;
}
.p-skill__list .fa-figma::after {
  content: "Figma";
  position: absolute;
  top: -33px;
  left: -8px;
  font-size: 24px;
  font-style: normal;
}
@media (min-width: 521px) {
  .p-skill__list .fa-figma::after {
    left: 4px;
  }
}

.p-visual__main__img {
  width: 100vw;
}

.p-visual__main__inner {
  position: relative;
}

.p-visual__main__title {
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 10%;
  font-size: 24px;
  background: -webkit-linear-gradient(180deg, #1e26cb 0%, #fcfafc 30%, #5cff04 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
  background-size: 300%;
}
@media (min-width: 521px) {
  .p-visual__main__title {
    font-size: 50px;
  }
}

@keyframes gradientEffect {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
.p-works {
  width: 100%;
  height: auto;
}
.p-works .c-text__undertext::before {
  content: "制作実績";
  width: 110px;
  height: 1px;
  bottom: -10px;
  left: calc(50% - 30px);
}
.p-works .c-text__underline::after {
  width: 60px;
  height: 1px;
  bottom: -5px;
  left: calc(50% - 30px);
}
@media (min-width: 521px) {
  .p-works .c-text__underline::after {
    width: 80px;
    left: calc(50% - 40px);
  }
}

.p-works__title {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.p-works__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.p-works__inner__title {
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
  font-family: monospace;
}

/*# sourceMappingURL=style.css.map */
