@use "../../foundation/global" as g;

.c-text__copyright{
  font-family: serif;
}

.c-text__undertext::before {
  display: inline-block;
  position: absolute;
  font-size: 14px;
  font-weight: lighter;
  font-family: serif;
}

.c-text__underline::after {
    content: "";
    display: inline-block;
    background-color: #000;
    position: absolute;
}

.c-text__skill {
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 1.3;
  text-align: justify;
  margin-top: 10%;
}
