.p-profile {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

.p-profile__inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .c-text__underline::after {
    width: 80px;
    height: 1px;
    bottom: -5px;
    left: calc(50% - 40px)
  }

  .c-text__undertext::before {
    content: "profile";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    font-weight: lighter;
    font-family: serif;
    width: 110px;
    height: 1px;
    bottom: -10px;
    left: calc(50% - 25px)
  }

    .personal {
      text-align: left;

      span {
        font-family: serif;
        font-size: 14px;
        font-weight: 100;
        display: inline-block;
        margin-top: 4rem;
      }
    }

    .introduction {
      margin: 2rem 1.5rem 0 0;
      font-family: serif;
      letter-spacing: 0.05em;
      line-height: 1.5;
    }
}

.p-profile__img {
  width: 50%;
  height: 100%;

  img {
    width: 100%;
    // height: 100%;
  }
}
