@use "../../foundation/global" as g;

.p-visual__main__img {
  width: 100vw;
  aspect-ratio: 4 / 3;
}

.p-visual__main__inner {
  position: relative;
}

.p-visual__main__title {
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 10%;
  font-size: 24px;
  font-weight: bold;
  color: transparent;
  // background: linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
  // background: -webkit-linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
  // background: -webkit-linear-gradient(180deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
  background: -webkit-linear-gradient(180deg, #1e26cb 0%, #fcfafc 30%, #5cff04 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
  background-size: 300%;
  will-change: background-position, color;

  @include g.breakpoint( tablet ) {
    font-size: 30px;
  }

  @include g.breakpoint( pc ) {
    font-size: 60px;
  }
}

@keyframes gradientEffect {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
