@use "../foundation/global" as g;

.l-footer {
  width: 100vw;
  height: 100px;
  margin-top: 20%;
  position: absolute;
  // background:linear-gradient(90deg, #4cb7ff, #6dc0f8 30%, g.$bgcolor_base,);
  background: linear-gradient(45deg, hsla( 200, 100%, 50%, .5 ), hsla( 190, 100%, 50%, .5 ) ),
  url(../images/top/sky.webp);
  background-size: cover;
  background-position: left;
  animation: cloud 45s linear infinite;

}

.l-footer__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
  // padding-bottom: 1%;
}
