@use "../foundation/global" as g;

.l-sidebar {
  width: 0;
  height: 100%;
  background-color: beige;
  position: absolute;
  top: 0;
  left: 100%;
  // display: none;
  // opacity: 0;
  visibility: hidden; /* 初期状態で非表示 */
  // transition: opacity 0.5s, visibility 0.5s; /* opacity と visibility のアニメーションを設定 */
  // transition: width 0.5s;
  // transition-property: display;
  // transition-duration: 0.5s;
}

.l-sidebar.is-open {
  width: 100%;
  display: block;
  margin-top: 46px;
  // opacity: 1; /* メニューが開かれた時に不透明に */
  visibility: visible; /* メニューが開かれた時に表示 */
  left: 20%;
  list-style: none;
  z-index: 999;
  transition: left 0.5s;
  // transition-property: display;
  // transition-duration: 0.5s;

  @media ( min-width: 783px ) {
    margin-top: 32px;
  }
}
